@font-face {
    font-family: Kumbh Sans;
    src: url(https://fonts.google.com/specimen/Kumbh+Sans);
}

:root {
    --darkCyan: hsl(185, 75%, 39%);
    --darkBlue: hsl(229, 23%, 23%);
    --grayBlue: hsl(227, 10%, 46%);
    --darkGray: hsl(0, 0%, 59%);
}

body {
    background-color: var(--darkCyan);
    position: relative;
    background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
    background-size: 700px, 700px; 
    background-repeat: no-repeat;
    background-position: -30% -50vh, 120% 50vh;
    min-height: 98vh;
}


* {
    font: 18px Kumbh Sans 700;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}